@model IEnumerable<Tweet10.Models.Tweet>

@{
    ViewData["Title"] = "Home Page";
    bool like = false;
}
<div class="overflow-scroll vh-100">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Likes)
                </th>
            </tr>
        </thead>
        <tbody>
            
                @foreach (var item in Model)
                {
                    <a asp-area="" asp-controller="Tweets" asp-action="Details"  asp-route-id="@item.Id">
                <tr onclick="location.href = '@Url.Action("Details", "Tweet", new {Id = @item.Id})'">
                    <td>
                            @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.CreatedDateTime)
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Tweets" asp-action="Like" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Likes)</a>
                    </td>
                </tr>
                </a>
                }
        </tbody>
    </table>
</div>


